body{
    font-size: 16px;
    
    background: #E5E5E5;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    color: #6A707B;
    min-height: 100vh;
}

a:link {
    color: #131821;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.conteiner{
    display: flex;
    background: #FFFFFF;
    margin: 0 auto;
    max-width: 1920px;
}
.page{
    max-width: 680px;
    min-height: 100%;
    
    
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
}
.header {
    
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    
    box-sizing: border-box;
    
}

.nav{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin-top: 14px;
}
.nav>li{
    margin-left: 31px;
   
}
.nav>li>a{
    text-decoration: none;
}
.logo{
    display: flex;
    
}
.logo_img{
    display: block;
    width: 25px;
    height: 40px;
    background-image: url(../img/logo.svg);
    margin-right: 15px;
}
.logo_text{
    width: 16px;
    margin-top:17px;
}

.newsletter {
    margin: 218px 120px 49px 140px;
}

.newsletter h1 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #131821;
    margin-bottom: 15px;
}
.newsletter p {
    line-height: 28px;
}

.summer{
    /*height: 1080px;*/
    width: 1240px;
    min-height: 100%;
    background: url(../img/image_summer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.base {
    padding-left: 100px;
    
}
.base #form-email{
    padding: 22px 40px;
    position: relative;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E3E3E4;
    box-sizing: border-box;
    border-left: 4px solid #4066A5;
    line-height: 24px;
    border-right: 0;
}
.base button{
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #E3E3E4;
    border-left: 0;
    height: 70px;
    width: 83px;
}
.base button img{
    align-items: center;
    padding-right: 20px;
    padding-top: 5px;
    
}

/* default checkbox */
.checkbox{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 54px;
    margin-left: 40px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-size: 16px;
    line-height: 28px;
    color: #6A707B;
}
.checkbox-label{
    margin-left: 6px;
}


.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    
    border-radius: 3px;
}
.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}
.checkbox input:checked ~ .checkmark {
    background: #4066A5;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.line {
    margin: 50px 140px 49px 140px;
}
.border-top {
    border-top: 1px solid #E3E3E4;
}

.footed {
    font-size: 24px;
}

.social {
    list-style-type: none;
    padding-left: 218px;
    display: flex;
}
.social>li{
    margin-right: 20px;
    
}
.social>li>a {

    text-decoration: none;
    color: #E3E3E4;
    
    
}
.social-item{
    width: 46px;
    height: 46px;
    border: 2px solid #E3E3E4;
    border-radius: 23px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}
.social-item>svg{
    margin-top: 13px;
    color: #131821;
    opacity: 0.3;
}